# Ignore local class materials
class_materials/
Project Milestones/
Readings/
/stage00_*.pdf

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore macOS Finder junk
.DS_Store
